:root {
  --primary-color: #0056B5;
  --secondary-color: #0091ff;
  --text-color: #fff;
  --background-color: #1d1e1f;
  --secondary-background-color: #2c2d2e;
  --border-radius: 1vh;
}

/*KEYFRAMES*/

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes flipAndShimmer {
  0% {
    background-position: 200% 0;
    transform: rotateY(0deg)
  }
  50% {
    transform: rotateY(180deg)
  }
  100% {
    background-position: -200% 0;
    transform: rotateY(360deg)
  }
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

@font-face {
  font-family: 'ZxGamut';
  src: url('/assets/fonts/ZxGamut-SemiBold.woff2') format('woff2'),
       url('/assets/fonts/ZxGamut-SemiBold.ttf') format('truetype');
  font-weight: 600; 
  font-style: normal;
}

/* App styling */
html, body {
  height: 100%;
  font-family: 'ZxGamut';
  margin: 0;
  padding: 0;
  background-color: var(--background-color); 
}

.app-wrapper {
  display: flex;
  font-family: 'ZxGamut';
  flex-direction: column;
  /* min-height: 100vh;  */
}

ul {
  list-style: none;
}
li {
  margin: 2vh;
}
.rounded-circle  {
  margin: 1vh !important;
  transition: transform 0.3s ease-in-out !important;
}

.rounded-circle:hover  {
  transform: translateY(-10px) !important;
  transition: transform 0.3s ease-in-out !important;
}

/* overwriting bootstrap styling for color customization */
.btn-primary, .bg-primary  {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}


/* Scripts Styling */
.page-header {
  height: 100%;
  padding:2vh;
  color: #fff;
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color), var(--primary-color));
  background-size: 200% 100%;
  animation: shimmer 3.5s infinite;
  border-bottom-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
  margin-bottom: 2vh;
}

/* About Styling */

.about-section {
  height: 100%;
  padding:2vh;
  color: #fff;
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color), var(--primary-color));
  background-size: 200% 100%;
  animation: shimmer 3.5s infinite;
  border-radius: 1vh;
  margin-bottom: 2vh;
}
.card {
  margin-top: 2vh;
  max-height: 80vh;
}

/* button styling */
a.btn, #header-text {
  text-decoration: none; 
  padding: 0 3vh; 
  display: inline-block;
  padding: 1vh;
  border-radius: 1vh;
  transition: transform 0.3s ease-in-out; 
}

a.btn:hover, #header-text:hover, .logo-link:hover {
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color), var(--primary-color));
  background-size: 200% 100%;
  animation: shimmer 3.5s infinite;
  transform: translateY(-10px);
  height: 100%;
  color: var(--text-color) !important;
  transition: transform 0.3s ease-in-out; 
}

.nav-item {
  display: inline-block;
  transition: transform 0.3s ease-in-out; 
  border-radius: 1vh;
}

.nav-item:hover {
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color), var(--primary-color));
  background-size: 200% 100%;
  animation: shimmer 3.5s infinite;
  transform: translateY(-10px);
  
}

/* Footer styling */
footer {
  margin-top: auto;
  background-color: var(--secondary-background-color);
}
